<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Definimos la codificación de caracteres y la escala inicial para dispositivos móviles -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Crear Empleado</title>
</head>

<body>
    
    
    <form id="createForm">
        
        <div style="display: flex;    justify-content: center;">

            <div class="card mb-3 mt-5" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4 text-bg-primary" style="text-align: center; align-content: center;">
                    <i class="fa-solid fa-circle-user fa-2xl"></i>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Crear Empleado</h5>
                      <p class="card-text">Ingrese el nombre del nuevo empleado</p>
                      <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">Nombre: </span>
                        <input type="text" required class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="addon-wrapping" id="nombre">
                      </div>
          
                    </div>
                  </div>
                  <div class="card-footer p-0">
                    <div class="btn-group" style="  width: -webkit-fill-available;   " role="group" aria-label="Basic outlined example">
                        <!-- Botón para enviar el formulario y crear el empleado -->
                        <button type="submit" class="btn btn-primary">Crear</button>
                        <!-- Botón para volver al índice -->
                        <button id="redirectBtn" type="button" class="btn btn-outline-primary">Volver</button>
                    </div>
                  </div>
                </div>
              </div>
    
        </div>
        
    </form>
    

    
    

    <script>
        // Obtener el formulario y el div de respuesta por su ID
        const form = document.getElementById('createForm');

        // Agregar un evento 'submit' al formulario
        form.addEventListener('submit', async function (e) {
            e.preventDefault(); // Evitar el comportamiento por defecto del formulario

            // Obtener el valor del nombre del empleado
            const nombre = document.getElementById('nombre').value;

            try {
                // Realizar una solicitud POST a la API para crear un nuevo empleado
                const response = await fetch('/empleados', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ Nombre: nombre }) // Enviar el nombre del empleado en formato JSON
                });

                // Obtener la respuesta en formato JSON
                const data = await response.json();
                // Mostrar la respuesta en el div de respuesta
                alert(JSON.stringify(data, null, 2));

                // Redirigir al usuario a la página principal después de la creación
                window.location.href = '/';
            } catch (error) {
                // Mostrar un mensaje de error en el div de respuesta en caso de error
                alert(JSON.stringify({ error: 'Error al realizar la solicitud' }, null, 2));
            }
        });

        // Función para redirigir al índice al hacer clic en el botón 'Volver al Índice'
        function redirectToIndex() {
            window.location.href = '/';  // Cambia '/' a la ruta del índice de tu aplicación Flask si es diferente
        }

        // Agregar un evento 'click' al botón y llamar a la función de redirección
        document.getElementById('redirectBtn').addEventListener('click', redirectToIndex);
    </script>
</body>

</html>